.fremdLeasingFirstSection {
  display: flex;
  margin: 0 0 15px;
  background: #ebf5fc;

  & hr {
    border: thin solid #00adef;
    margin: 30px 5px;
  }

  & > div {
    width: 50%;
    padding: 30px 40px 10px;
  }
}

.fremdLeasingSecondSection {
  display: flex;
  flex-direction: column;
  background: #ebf5fc;
  width: 50%;
  margin-bottom: 30px;

  & > div {
    padding: 20px 40px 10px;
  }
}

.enterLessor {
  & > label {
    font-size: 20px;
  }

  & > div {
    margin-top: 20px;
  }
}
