.contractualDataSection {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}

.contractualDataSection > div {
  width: 100%;
}

.blueBox {
  background: #ebf5fc;
  padding: 30px 40px 10px;
}

.blueBox > div > div {
  margin-right: 10px;
}

.blueBox > div > div:last-child {
  margin-right: 0;
}

.dateRangePicker {
  width: 306px;
}

.vehiclePaperDestination {
  width: 306px;
}

/* For iPad portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contractualDataSection > div > div {
    padding: 30px 20px 10px;
  }
}

.contractualDataSection > hr {
  border: 0;
  margin: 0 5px;
}

.oneHalf {
  margin-right: 10px;
}

.oneHalf h5 + * {
  width: 50%;
}

.oneHalf label {
  width: 50%;
}
