.textModuleTitle {
  font-weight: bold;
}

.textModule {
  color: #999999;
}

.textModuleLink {
  color: #999999;
  text-decoration: underline;
  cursor: pointer;
}

.textModuleLink:hover {
  color: #4c4c4c;
  text-decoration: underline;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.sondervereinbarungen textarea {
  flex: 1;
  height: 7.5em;
  resize: none;
}

.sondervereinbarungen {
  padding: 30px;
}

.sondervereinbarungen .textAreaContainer {
  display: flex;
}

/* 6.1em on our TextArea is equal to 7.5em on component library's textarea */
.sondervereinbarungen .sizeAdjusted textarea {
  height: 6.1em;
}
