.checkboxField label.disabled {
  color: #999999;
  flex-grow: 1;
}

.checkboxField label {
  font-weight: normal;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.checkboxField input {
  position: absolute;
  opacity: 0;
}

.checkboxField .checkmark {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  margin-right: 6px;
  text-indent: -9999px;
}

.radiobuttonField .checkmark {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  margin-right: 6px;
  text-indent: -9999px;
  border-radius: 50%;
}

.checkboxField input:checked ~ .checkmark {
  border: 1px solid #00aedf;
}

.checkboxField input:checked ~ .checkmark::before {
  content: '';
  position: absolute;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid #00aedf;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radiobuttonField input:checked ~ .checkmark {
  border: 1px solid #00aedf;
}

.radiobuttonField input:checked ~ .checkmark::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #00aedf;
}

.checkboxField label.disabled input ~ .checkmark {
  color: #999999;
  border: 1px solid #ddd;
}

.checkboxField label.disabled input ~ .checkmark::before {
  border: solid #ddd;
  border-width: 0 2px 2px 0;
}
.radiobuttonField label.disabled {
  color: #999999;
  flex-grow: 1;
}

.radiobuttonField label {
  font-weight: normal;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.radiobuttonField input {
  position: absolute;
  opacity: 0;
}

.radiobuttonField label.disabled input ~ .checkmark {
  color: #999999;
  border: 1px solid #ddd;
}

.radiobuttonField label.disabled input ~ .checkmark::before {
  border: solid #ddd;
  border-width: 0 2px 2px 0;
}
