.warning {
  color: #ffffff;
  line-height: 2em;
  background: #ef6c00;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

.bannerText {
  max-width: 944px;
  margin: 0 auto;
}

.bannerText a {
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .bannerText {
    max-width: 944px;
  }
}

/*ipad - Portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .bannerText {
    max-width: 688px;
  }
}

@media only screen and (min-width: 590px) and (max-width: 767px) {
  .bannerText {
    max-width: 560px;
  }
}

@media only screen and (max-width: 589px) {
  .bannerText {
    max-width: 90%;
  }
}
