.stickyBar {
  display: flex;
  justify-content: space-between;
}

.stickyBar div {
  display: inline-block;
}

.stickyBar button {
  width: auto;
  padding: 0 40px;
}

.orderStatus {
  margin-bottom: 30px;
}

/*.warningBanner {*/
/*position: fixed;*/
/*width: 100%;*/
/*background: orange;*/
/*padding: 5px;*/
/*top: 0;*/
/*}*/
